/* your styles go here */
body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }
.bg-primary{
    background-color: black !important;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}