/* your styles go here */
body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }
.shape-001{
    font-size: px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all .3s linear;
}
.shape-001:hover{
       color: #fff;
    background-color: #000
}
.shape-002{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all .3s linear;
}
.shape-003{
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all .3s linear;
    color:burlywood
}
.nav li{ 
    width:400px; 
    height:50px;
    display:inline-block; 
    vertical-align:middle; 
    padding:10px; 
    color:#fff; 
    background:#36C; 
    margin:50px; 
    font-size:25px; 
    font-family:'微軟正黑體'; 
    text-align:center; 
    line-
}