.happy{
    width: 1300px;
    margin: 80px auto;
    border:solid 1px gray;
    overflow: hidden; /* 避免長方框下面顯示不正常 */
  }
.bdcard{
    width: 600px;
    float:left; /* 圖片在左邊 */
    padding: 20px;
  }
.bdcard img{
    display: block;
    width:100%;
  }
.bdtext{
    float: right;  /* 文字在右邊 */
    width: 670px;
    padding: 20px 20px 0px 0px;
  }
body {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 700;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 700;
    }
.my-content {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0 auto;
      max-width: 800px;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
.my-content h1,
.my-content h2 {
      text-align: center;
      color: #333;
    }
    
  
.my-content p {
      color: #555;
    }
    
  
.my-content ul {
      list-style: none;
      padding: 0;
    }
  
.my-content li {
      margin-bottom: 10px;
    }
    
.my-content img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }